@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.box{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 260px;
    min-height: 260px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 3px 6px 3px;
}
.form img{
    width: 60px;
    display: block;
}
.form h1{
    font-size: 18px;
    font-weight: 500;
    margin-right: 170px;
}
.form-group{
    height: 25px;
    width: 220px;
    position: relative;
}
.form-control{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: none;
    outline: none;
    padding: 10px 18px;
    font-size: 8px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    z-index: 1;
}
.form-label{
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 0 5px;
    font-size: 8px;
    color: #302e2e;
    background-color: white;
    transition: .3s;
}
.form-control:focus+ .form-label{
    top: -5px;
    z-index: 5;
    font-size: 8px;
    font-weight: 600;
    color: #1B66c9;
}
.form-control:focus{
    border: 1px solid #1B66c9;
}
.form-control:not(:focus):valid+label{
    top: -5px;
    z-index: 10;
}
input[type="checkbox"]{
    transform: translateY(3px) scale(.7);
}
.show-label{
    font-size: 8px;
    font-weight: 500;
}
.bottom-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.bottom-box a{
    font-size: 8px;
}
.form-btn{
    font-size: 10px;
    font-weight: 600;
    padding: 5px 15px;
    color: #fff;
    background-color: #1B66c9;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.footer{
    margin-top: 10px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    gap: 8px;
}
.divider{
    border: 1px solid #ddd;
    width: 280px;
}
.footer-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-top p{
    display: block;
    position: absolute;
    font-size: 7px;
    top: -5px;
    background-color: #fff;
    color: #767676;
}
.footer-btn button a{
    font-size: 8px;
    text-decoration: none;
    padding: 5px;
    color: #0F1111;
}
.footer-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    border-radius: 5px;
    border: 1px solid #767676;
}
.footer-btn button:active{
    border: 1px solid aqua;
    box-shadow: 0px 0px 1px 1px rgba(40, 189, 189, 0.5);
}
.footer ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.footer ul li a{
    font-size: 7px;
}
.footer ul li a:hover{
    color: #df1f1f;
}
.footer p{
    font-size: 8px;
    color: #767676;
}